//colors
$primary: #d76b07; //ораньжевый
$secondary: #38312a; //черный

$additional_1: #661CE7; //фиолетовый
$additional_2: #00D289; //зеленый
$additional_3: #E2E6E9; //серый
$additional_4: #F2F2F2; //светло-серый
$additional_5: #FFFFFF; //белый